header h1 {
    text-align: center;
    margin-bottom: 10px;
}

header .nav {
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #e2e2e2;
    border-bottom-width: 60%;
    margin-top: 30px;
}

header .nav ul {
    list-style: none;
    padding: 0;
}

header .nav ul li {
    display: inline-block;
}

body {
    width: 800px;
    margin: 0 auto;
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}
